*.obj
*.o
*.sfc
*.sym
*.ps
*.asp
*.asm
!src/**
!data.asm
!hdr.asm
!gsu_raycaster.asm
linkfile
tools/wla-dx/
old_asm/
Mesen.exe
*.dll
settings.json
Cheats/
Debugger/
GameConfig/
RecentGames/
Satellaview/
MesenNesDB.txt
odyssey.sym
walls1.png
*Copy*
